
    <section>
        <div class="container mt-5 p-3">
            <div class="row">
               {{#each products}}
                <div class="col-md-3">
                    <div class="card" style="width: 14rem;">
                        <img src="/product-images/{{this._id}}.jpg"
                            style="height:9em ;" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title text-center">{{this.Name}}</h5>
                            <h6 class="card-title text-center">Rs.{{this.Price}}</h6>
                            <p class="card-text text-center">{{this.Description}}</p>
                            <a href="/add-to-cart/{{this._id}}" class="btn btn-lg btn-block btn-primary">Add To Cart</a>
                        </div>
                    </div>
                </div>
                
               {{/each}}


            </div>
        </div>
    </section>

    